<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440188507956-1smvilgtshosnnic3oc1effvj1pf1mql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440188507956-1smvilgtshosnnic3oc1effvj1pf1mql</string>
	<key>API_KEY</key>
	<string>AIzaSyBg4bOkA8uN3_GaUR6jTFL9Hoo0jaz5Cdk</string>
	<key>GCM_SENDER_ID</key>
	<string>440188507956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.povegypt.povco</string>
	<key>PROJECT_ID</key>
	<string>companion-6xohii</string>
	<key>STORAGE_BUCKET</key>
	<string>companion-6xohii.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440188507956:ios:29fa10b0cef5001a833761</string>
</dict>
</plist>